.products-title {
  text-align: center;
}

.products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0 5%;
  overflow-y: scroll;

  .product {
    flex: 0 0 auto;
    width: 90%;
    border: 1px solid;
    border-radius: 2em;
    overflow: hidden;
    margin: 0 1em 1em 0;
  }
}

@media screen and (min-width: 768px) {
  .products-list {
    flex-wrap: wrap;

    .product {
      width: 30%;
      margin: 0 0 1em;
    }
  }

}
